#cardRendered {
  width: 300px;
  height: 400px;
  position: fixed;
}

#border {
  width: 300px;
  height: 400px;
  background-image: url('/imgs/none.png');
}

#coverArt {
  width: 300px;
  height: 400px;
  background-size: 282px 282px;
  background-repeat: no-repeat;
  background-position: 9px 29px;
}

#nowPlaying{
  font-size: 16px;
  text-align: center;
  margin-top: -395px;
}

#songName{
  font-size: 24px;
  text-align: center;
  margin-top: 290px;
}

#songArtist{
  font-size: 18px;
  text-align: center;
  margin-top: -25px;
}

#songAlbum{
  font-size: 12px;
  text-align: center;
  margin-top: -15px;
}

#user{
  font-size: 8px;
  text-align: right;
  margin-top: -10px;
  margin-right: 2px;
}











.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 130%
}


.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 130%
}

.jacquard-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}


.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 130%
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text-border1 {
  color: white
}
.text-border2 {
  color: white
}
.text-border3 {
  color: black
}
.text-border4 {
  color: white
}