body {
    margin: 0;
    padding: 0;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 350px;
    height: 600px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    z-index: -1;
}

.video-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    margin: 0; /* Reset margin */

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card:hover {
    transform: scale(1.1);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none; /* Remove the outline that appears on focus */
    border: none; /* Remove border */
    display: block; /* Remove default inline display */
    cursor: pointer
}

/* Styles for smaller screens */
@media only screen and (max-width: 800px) {
    .card {
        width: 100%;
        height: auto; /* Allow the height to adjust based on the content */
    }

    video {
        width: 100%;
        height: 100%; /* Ensure the video fills the container */
        object-fit: cover; /* This property scales the video while maintaining its aspect ratio */
    }
    video {
        controls: true; /* Show controls on smaller screens */
    }
}

html, body {margin: 0; height: 100%; overflow: hidden}